h1, body
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

input[type=submit]
{
    background-color: #0298C9;
    color: white;
    font-size: 14px;
}
input[type=button]
{
    background-color: #0298C9;
    color: white;
    font-size: 14px;
}


